<header>
  <div><img src="assets/img/people.jpg"></div>
</header>

<main>

  <div id="slogan">
    <h1>Хотите покупать продукцию Гербалайф дешевле</h1>
    <h1>- мы Вам поможем</h1>
  </div>
  <br/>
  <div id="proposal">
    <p><i class="fas fa-check"></i> <b>Оплатим Вашу регистрацию</b> в Гербалайф, чтобы Вы могли покупать <b>со скидкой и без посредников.</b></p>
    <table>
      <tbody>
        <tr><td>Накопительная скидка</td></tr>
        <tr><td>Есть оплата при получении</td></tr>
        <tr><td>Есть бесплатная доставка</td></tr>
      </tbody>
    </table>
    <br/>
    <div class="text-center"><img src="assets/img/receive-skidka.svg"></div>
    <br/>
    <div style="max-width:320px;margin:auto;">
    <p class="text-center"><i class="fas fa-check"></i> <b>Поделимся с Вами</b> нашей скидкой.</p>
    <table>
      <tbody>
      <tr><td>Накопительная скидка</td></tr>
      <tr><td>Скидка больше и растёт быстрее</td></tr>
      <tr><td>Есть бесплатная доставка</td></tr>
      </tbody>
    </table>
    </div>
  </div>
  <br/>
  <div class="callout secondary" style="max-width:500px;margin:auto;">
    <h3>С нами Вы здорово сэкономите на покупках Гербалайф</h3>
  </div>
  <br/>
  <div id="cta">
    <p>Закажите обратный звонок.</p>
    {{> scroll-down-arrow link="#anchor-callback" }}
    <span class="anchor" id="anchor-callback"></span>
    <p><a data-open="callbackModalAsksSponsor" class="pulsingButton">Обратный звонок &nbsp;<i class="fas fa-phone"></i></a></p>
    <p>Позвоним и всё расскажем.<br/>Звонок бесплатный.</p>
  </div>

  <br/>
  <br/>
  <br/>

</main>
