<header>
  <div id="hero">
    <div id="logo">
      <img src="assets/img/H-partner-logo-white.svg">
    </div>
    <div id="title">
      <p id="line1">Продукция Гербалайф</p>
      <p id="line2">Без посредников и переплат</p>
      <p id="line3">Худейте Вы, а не Ваш кошелёк !</p>
    </div>
  </div>
</header>

<main>
  <br/>
  <span class="anchor" id="anchor-you-can"></span>
  <div id="intro" class="callout secondary">
    <p>&nbsp;&nbsp;&nbsp;Вы можете покупать продукцию Гербалайф дешевле, с хорошей <b>накопительной</b> скидкой, если будете покупать не через кого-то, а напрямую у компании Гербалайф.</p>
    <!-- p>&nbsp;&nbsp;&nbsp;Ниже <i class="far fa-hand-point-down"></i> пример цен на популярные товары.</p -->
  </div>
  <br/>
  {{!-- > slider-products --}}
  {{!-- > disclaimer-bads --}}

  <!-- p class="text-center">Полный прайслист <a href="katalog.html#anchor-top">здесь</a></p -->

  {{> scroll-down-arrow link="#anchor-ask" }}

  <span class="anchor" id="anchor-ask"></span>
  <section id="ask">
    <div><img src="assets/img/ask.svg"></div>
    <p>Как покупать продукцию Гербалайф со скидкой и без посредников?</p>
  </section>

  {{> scroll-down-arrow link="#anchor-register" }}

  <span class="anchor" id="anchor-register"></span>
  <section id="register" class="callout">
    <div><img src="assets/img/contract.svg"></div>
    <p>Вам достаточно зарегистрироваться в самой компании!</p>
    <p>Гербалайф - сетевая компания и продаёт свою продукцию только тем, кто заключил с ней соглашение, другими словами <b>зарегистрировался</b> в Гербалайф. Таковы правила.</p>
    <p>Отличная новость в том, что соглашение заключить просто, можно даже через интернет. Оно ни к чему Вас не обязывает и даёт Вам очень много преимуществ <i class="far fa-hand-point-down"></i></p>
  </section>

  {{> scroll-down-arrow link="#anchor-pros" }}

  <span class="anchor" id="anchor-pros"></span>
  <section id="pros">
    <h3>Преимущества Регистрации</h3>
    <table>
      <tbody>
      <tr>
        <td>
          <img src="assets/img/tag.svg">
        </td>
        <td>
          <p><b>Скидки</b></p>
          <p>С первой же покупки Вы получаете хорошую скидку. <b>Скидка накопительная.</b> Её можно увеличить и Ваши покупки будут ещё выгоднее.</p>
        </td>
      </tr>

      <tr>
        <td>
          <img src="assets/img/shield.svg">
        </td>
        <td>
          <p><b>Без посредников</b></p>
          <p>Вы сможете  приобретать продукцию напрямую у компании Гербалайф, а не через третьи руки. Так Вы на 100% будете уверены, что приобретаете оригинальную качественную продукцию.</p>
        </td>
      </tr>

      <tr>
        <td>
          <img src="assets/img/wallet.svg">
        </td>
        <td>
          <p><b>Оплата при получении</b></p>
          <p>Вы сможете заказывать продукцию с доставкой через интернет или в любом официальном центре продаж Гербалайф. Покупая в центре продаж, Вы можете рассчитаться за него на месте, при получении, карточкой или наличными. Никакого риска!</p>
        </td>
      </tr>

      <tr>
        <td>
          <img src="assets/img/change.svg">
        </td>
        <td>
          <p><b>Дополнительный доход</b></p>
          <p>Заниматься бизнесом необязательно. Но если захотите, Вы сможете зарабатывать покупая продукт дешевле и продавая его с наценкой.</p>
        </td>
      </tr>
      </tbody>
    </table>
  </section>

  {{> scroll-down-arrow link="#anchor-how-to-register" }}
  <span class="anchor" id="anchor-how-to-register"></span>
  <section id="how-to-register">
    <div><img src="assets/img/consultant.png"></div>
    <h3>А как регистрироваться ?</h3>
    <p>Свяжитесь с нами. Просто закажите <a href="#anchor-callback-form">обратный звонок <i class="fas fa-phone"></i></a></p>
    <p>Мы поможем Вам успешно зарегистрироваться, причём <b>бесплатно !</b></p>
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink" class="accordion-title">Как проходит регистрация</a>
        <div class="accordion-content" data-tab-content id="deeplink">
          <p>Зарегистрироваться можно через интернет, с компьютера или с телефона. Здесь описаны общие шаги.</p>
          <h4>1. Получите приглашение</h4>
          <p>Гербалайф сетевая компания, поэтому зарегистрироваться в ней можно только по приглашению тех, кто уже в компании зарегистрирован. В данном случае это id-номер человека, приглашающего Вас зарегистрироваться.</p>
          <p class="done">Можете обратиться к нам - вышлем Вам id-номер и поможем успешно зарегистрироваться.</p>
          <h4>2. Заполните анкету</h4>
          <p>Мы вышлем Вам ссылку на официальный сайт компании Гербалайф для регистрации. Регистрироваться нужно именно там ! Открываете сайт и заполняете анкету - указываете данные о себе.</p>
          <h4>3. Купите набор</h4>
          <p>После заполнения анкеты на том же сайте Вам нужно купить у компании Гербалайф регистрационный набор. Это необходимая часть регистрации, правило самой компании. Стоимость набора : 540 руб. или 2400 руб. Зависит от типа регистрации. Разницу Вам расскажем.</p>
          <p class="done">Если хотите <b>зарегистрироваться бесплатно</b> - обратитесь к нам. Мы оплатим этот набор за Вас ! Для Вас регистрация будет абсолютно бесплатной !</p>
          <h4>Всё ! Вы зарегистрированы !</h4>
          <p>После покупки набора, на страничке регистрации отображается Ваш личный id-номер Гербалайф. Поздравляем ! 🎉 Вы зарегистрированы !</p>
          <p class="done">Используя этот id-номер, Вы можете покупать продукцию напрямую у компании Гербалайф со своей скидкой, с первого же заказа. Как это делать - покажем Вам.</p>
        </div>
      </li>
    </ul>
  </section>

  {{> scroll-down-arrow link="#anchor-callback-form" }}
  <span class="anchor" id="anchor-callback-form"></span>
  <section id="callback-form-wrapper">
    <div id="intention">
      <p>Хотите покупать Гербалайф</p>
      <p>со скидкой и без посредников ?</p>
    </div>
    <div id="image-wrap">
      <img src="assets/img/customer-support.svg">
    </div>
    <h3>Закажите обратный звонок</h3>
    <div id="text-wrap">
      <p>Мы перезваниваем в течении 10 мин.</p>
    </div>

    {{> callback-form}}
    <br/>
    <br/>
    <br/>
    <br/>

  </section>
</main>
