.arrow-down 
{
  text-align: center;
  margin:4% 0;
  a 
  { 
    text-decoration: none; 
    color: grey; 
    cursor:pointer;
    font-size: 2rem;
  }
}

.bounce 
{
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce
{
  0%, 20%, 50%, 80%, 100% { transform-origin:initial; transform: translateY(0);  }
  40% { transform: translateY(-30px); }/*было -30px*/
  60% { transform: translateY(-15px); }/*было -15px*/
}
