// Общие стили
@import 'common';
@import "_Herbalife.scss";
@import "cities-list-modal";

main
{
  ul.contents
  {
    list-style-type: none;
    max-width:190px;
    margin:auto;
  }

  section#pros
  {
    table
    {
      max-width:550px;
      margin:auto;
      tr
      {
        td:first-child
        {
          vertical-align:top;
          width:50px;
        }
      }
    }
  }


  // Для встроенного видео
  section div#videoWrapper
  {
    max-width:360px;
    margin:auto;
    text-align: center;
  }
}

/*
header
{
  padding: 0px 20px;
  text-align: center;
}

main
{
  max-width:600px;
  margin:auto;
  padding: 0px 10px;
  h2
  {
    text-align: center;
    font-size: 1.2rem;
    color:darkred;
  }
  p
  {
    text-indent: 15px;
  }
  i
  {
    margin-left:-15px!important;
  }
}
*/
