<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "brand": "Гербалайф",
    "name": "Базовая программа снижения веса",
    "description": "Базовая программа - это программа из 30 завтраков. Свой обычный завтрак Вы заменяете сбалансированным завтраком Гербалайф из этой программы. Завтрак вкусный, полезный, низкокалорийный и легко готовится за пару минут. Снижение веса идёт за счёт низкой калорийности завтрака и ускорения обменных процессов. Помимо этого завтрак Гербалайф заряжает Вас энергией, очищает и защищает Ваш организм.",
    "image": "https://skidka.gerbal24.ru/assets/img/programs/program-base.jpg",
    "url": "https://skidka.gerbal24.ru/programs.html",
    "sku": "001",
    "offers": {
      "@type": "Offer",
      "availability": "InStock",
      "price": "6150",
      "priceCurrency": "руб.",
      "priceValidUntil": "2022",
      "url": "https://skidka.gerbal24.ru/programs.html"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.8",
      "reviewCount": "24"
    },
    "review": [
      {
        "@type": "Review",
        "author": "Валерия",
        "datePublished": "2020-01-19",
        "description": "Хотя мне худеть больше не надо, продолжаю пользоваться этой программой. Это помогаем мне держать фигуру стройной, и мой организм благодарен - получает весь набор необходимых веществ без лишних калорий."
      }
    ]
  }
</script>
