<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "brand": "Гербалайф",
    "name": "протеиновая смесь Формула 3",
    "description": "Низкокалорийный источник полноценного белка.Содержит ценные виды белка: соевый и сывороточный.Необходим для поддержания мышечной массы при снижении веса.Улучшает тургор кожи, предотвращает обвисание кожи при похудении.Дает более длительное чувство сытости при добавлении в блюда или коктейль Формула 1.",
    "image": "https://skidka.gerbal24.ru/assets/img/snippet/formula3.jpg",
    "url": "https://skidka.gerbal24.ru/product-formula3.html",
    "sku": "0242",
    "offers": {
      "@type": "Offer",
      "availability": "InStock",
      "price": "1480",
      "priceCurrency": "руб.",
      "priceValidUntil": "2022",
      "url": "https://skidka.gerbal24.ru/product-formula3.html"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "186"
    },
    "review": [
      {
        "@type": "Review",
        "author": "Елена",
        "datePublished": "2019-09-28",
        "description": "Белок Формула 3 мне понравился, смело могу рекомендовать его другим. Я добавляю по 1 ложке белка в коктейль Гербалайф утром и вечером. Теперь спокойно выдерживаю 3 часа до следующего приема пищи."
      },
      {
        "@type": "Review",
        "author": "Лидия",
        "datePublished": "2019-11-15",
        "description": "Хороший продукт. Использую уже чуть больше месяца. Добавляю в супы и каши. Еда от этого стала сытнее. По себе заметила, что волосы стали лучше. И мышци укрепились, хотя в спортзал не хожу, а занимаюсь дома лёгкой зарядкой также как и всегда. По коже не заметила особых изменений, но мне в мои 70 лет уже врядли что-то поможет."
      },
      {
        "@type": "Review",
        "author": "Александр",
        "datePublished": "2020-02-05",
        "description": "Отличный белок. Включил в программу на третий день похудения. С ним стало легче. Помог мне с аппетитом и мышечную массу сохраняет судя по анализатору. Кожа, уверен, тоже подтягивается, так как теряю большие объёмы и обвисания еле заметны. Всё делаю в комплексе. Пью воду, питаюсь как научили, три раза хожу в спортзал. Жизнь меняется к лучшему. Чувствую себя замечательно, воздушно, будто летаю. Сильно меняюсь внешне, мне нравится, родные тоже рады за меня ))."
      }
    ]
  }
</script>
