<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "brand": "Гербалайф",
    "name": "Травяной напиток чай",
    "description": "Содержит 6 фитокомпонентов для антиоксидантной защиты организма и эффективного тонизирования.",
    "image": "https://skidka.gerbal24.ru/assets/img/snippet/protein-coffee.png",
    "url": "https://skidka.gerbal24.ru/product-tea.html",
    "sku": "0105",
    "offers": {
      "@type": "Offer",
      "availability": "InStock",
      "price": "1820",
      "priceCurrency": "руб.",
      "priceValidUntil": "2022",
      "url": "https://skidka.gerbal24.ru/product-tea.html"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "267"
    },
    "review": [
      {
        "@type": "Review",
        "author": "Ксения",
        "datePublished": "2020-11-27",
        "description": "На вкус - приятный напиток. Пью на полдник. Насыщает и тонизирует :)"
      },
      {
        "@type": "Review",
        "author": "Анна Семерина",
        "datePublished": "2020-12-03",
        "description": "Мешаю и пью как коктейль после тренировки. По сравнению с ON, этот кофейный вкус мне больше нравится."
      }
    ]
  }
</script>
