<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "brand": "Гербалайф",
    "name": "Комплекс пищевых волокон",
    "description": "Комплекс пищевых волокон поддерживает полезную микрофлору кишечника и таким образом защищает наш организм.",
    "image": "https://skidka.gerbal24.ru/assets/img/snippet/kpv.png",
    "url": "https://skidka.gerbal24.ru/product-kpv.html",
    "sku": "2865",
    "offers": {
      "@type": "Offer",
      "availability": "InStock",
      "price": "1500",
      "priceCurrency": "руб.",
      "priceValidUntil": "2022",
      "url": "https://skidka.gerbal24.ru/product-kpv.html"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.9",
      "reviewCount": "134"
    },
    "review": [
      {
        "@type": "Review",
        "author": "Фатима",
        "datePublished": "2019-06-12",
        "description": "Хорошая биодобавка. Улучшила работу моего кишечника. Больше не испытываю дискомфорта. Кишечник теперь работает как часики."
      }
    ]
  }
</script>
