<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "brand": "Гербалайф",
    "name": "Травяной напиток чай",
    "description": "Содержит 6 фитокомпонентов для антиоксидантной защиты организма и эффективного тонизирования.",
    "image": "https://skidka.gerbal24.ru/assets/img/snippet/tea.jpg",
    "url": "https://skidka.gerbal24.ru/product-tea.html",
    "sku": "0105",
    "offers": {
      "@type": "Offer",
      "availability": "InStock",
      "price": "1250",
      "priceCurrency": "руб.",
      "priceValidUntil": "2022",
      "url": "https://skidka.gerbal24.ru/product-tea.html"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "267"
    },
    "review": [
      {
        "@type": "Review",
        "author": "Елена",
        "datePublished": "2019-10-18",
        "description": "Купила этот чай, потому что подруга сказала с ним легче пить воду. Развожу чайную ложку на литр и потихоньку попиваю в течении дня. Приятный бонус — чай мягко бодрит."
      },
      {
        "@type": "Review",
        "author": "Мадина",
        "datePublished": "2019-11-09",
        "description": "Чай тонизирует. Раньше ходила как сонная муха. Ничего не успевала, вымученная, нервная. Стала пить чай, теперь бегаю как заряжённая батарейка. Успеваю убрать, приготовить завтрак-обед-ужин и постоянно слежу за малышом. Не пейте после 6 ти вечера - иначе будет трудно заснуть."
      },
      {
        "@type": "Review",
        "author": "Татьяна",
        "datePublished": "2020-01-11",
        "description": "Чай приятный. Пью чай со вкусом малины, без сахара. Тонизирует. Говорят, что ускоряет обменные процессы, надеюсь правда. Посмотрим дальше."
      },
      {
        "@type": "Review",
        "author": "Марат",
        "datePublished": "2019-03-15",
        "description": "Травяной напиток мне нравится. Помог избавиться от кофейной зависимости.)) Работоспособность на высоте. Сердцу стало лучше."
      }
    ]
  }
</script>
