<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "brand": "Гербалайф",
    "name": "вечерний коктейль Формула 1",
    "description": "Вечерний коктейль — это готовый лёгкий ужин или поздний перекус. Как и дневной коктейль Формула 1, он сбалансирован по составу и содержит мало калорий. Вечерний коктейль насыщает без чувства тяжести и таким образом предотвращает вечернее и ночное переедание.",
    "image": "https://skidka.gerbal24.ru/assets/img/snippet/formula1-night.jpg",
    "url": "https://skidka.gerbal24.ru/product-formula1-night.html",
    "sku": "1636",
    "offers": {
      "@type": "Offer",
      "availability": "InStock",
      "price": "1450",
      "priceCurrency": "руб.",
      "priceValidUntil": "2022",
      "url": "https://skidka.gerbal24.ru/product-formula1-night.html"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.7",
      "reviewCount": "89"
    },
    "review": [
      {
        "@type": "Review",
        "author": "Гузель",
        "datePublished": "2019-07-17",
        "description": "Кушаю этот коктейль вечером. Помог мне победить ночной жор. А это уже половина победы над лишним весом."
      },
      {
        "@type": "Review",
        "author": "Аркадий",
        "datePublished": "2020-02-08",
        "description": "Хороший продукт. Беру с собой в командировки. Ужинаю им в номере и не теряю кучу времени и денег на походы в кафе. Насыщает, помогает выспаться и нет тяжести в желудке с утра."
      }
    ]
  }
</script>
