<span class="anchor" id="price-notice-anchor"></span>
<h3 id="price-notice">Цена</h3>
<!-- section class="callout secondary fanless">
  <p>Цена этого продукта : <span id="price-full">{{price-full}}</span>&nbsp;<span id="price-here">{{price-here}}</span> руб. и <b>ниже</b>, если зарегистрироваться и получить <b>накопительную скидку.</b></p>
  <p style="margin-bottom:0px;">Узнайте больше <a href="main.html#anchor-ask">здесь</a> или просто закажите {{> callback-link}} - перезвоним Вам и всё расскажем. Звонок бесплатный.</p>
</section -->
<section class="callout secondary fanless">
  <!-- p>Цена этого продукта : <span id="price-full">{{price-full}}</span>&nbsp;<span id="price-here">{{price-here}}</span> руб. Хотите получить накопительную скидку и выгодно совершать покупки - узнайте больше <a href="buy-options.html">здесь</a> или просто закажите {{> callback-link}}. Перезвоним Вам и всё расскажем. Звонок бесплатный.</p -->
  <p>Все актуальные цены на странице <a href="katalog.html"><i class="fas fa-barcode"></i>&nbsp;&nbsp;Каталог и Цены</a></p>
  <p>Как купить со скидкой почитайте <a href="how-to-buy.html">здесь</a> или закажите {{> callback-link}}</p>
</section>
<br/>
