<div id="banner-skidka">
  <div id="banner-content">
    <div id="text">
      <div class="text-center"><img src="assets/img/H-partner-logo.svg"></div>
      <h2>Продукция Гербалайф</h2>
      <h3>без посредников и переплат</h3>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>регистрируйтесь бесплатно</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>покупайте напрямую у компании</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>оплачивайте при получении</li>
      </ul>
      <p class="text-center"><a class="button success" href="main.html#anchor-pros">Узнать больше</a></p>
    </div>
  </div>
</div>