<!-- Этот баннер с возможностью его закрыть -->
<div id="top-banner">
  <div id="banner-content">
    <button class="close-button" data-close aria-label="close reveal" type="button" onclick="closeBanner()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div id="text">
      <div class="text-center"><img src="assets/img/H-partner-logo-white.svg"></div>
      <h2>покупайте Гербалайф</h2>
      <h3>на самых ВЫГОДНЫХ условиях</h3>
      <p class="text-center"><a onclick="closeBanner()"><u>Закрыть</u></a>&nbsp;&nbsp;&nbsp;<a id="learn-more" class="button" href="main.html">Узнать больше</a></p>
    </div>
  </div>
</div>