<!-- Этот баннер с возможностью его закрыть -->
<div id="banner-skidka">
  <div id="banner-content">
    <button class="close-button" data-close aria-label="close reveal" type="button" onclick="closeBanner()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div id="text">
      <div class="text-center"><img src="assets/img/H-partner-logo.svg"></div>
      <h2>Продукция Гербалайф</h2>
      <h3>без посредников и переплат</h3>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>регистрируйтесь бесплатно</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>покупайте напрямую у компании</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>оплачивайте при получении</li>
      </ul>
      <p class="text-center"><a onclick="closeBanner()">Закрыть</a>&nbsp;&nbsp;&nbsp;<a class="button success" href="main.html#anchor-you-can">Узнать больше</a></p>
    </div>
  </div>
</div>