<div class="callout" id="related-links">

  <p {{#ifpage 'buy-options'}} class="current-page" {{/ifpage}}>
  <a href="buy-options.html">Способы покупки</a><br/>Кратко какие есть способы купить Гербалайф.
  </p>

  <p {{#ifpage 'buy-option-Herbalife'}} class="current-page" {{/ifpage}}>
  <a href="buy-option-Herbalife.html">Покупка без посредника</a><br/>Как покупать Гербалайф напрямую у компании, если Вы зарегистрировались.
  </p>

  <p {{#ifpage 'buy-option-us'}} class="current-page" {{/ifpage}}>
  <a href="buy-option-us.html">Покупка без регистрации</a><br/>Что если не регистрироваться и покупать у нас. Какие будут цены и условия.
  </p>

  <p {{#ifpage 'buy-options-compared'}} class="current-page" {{/ifpage}}>
  <a href="buy-options-compared.html">Какой способ лучше</a><br/>Какой из этих двух способов лучше подойдёт Вам: покупать у нас или всё же зарегистрироваться в Гербалайф ?
  </p>

</div>