<!-- Callback Modal : спрашивает про спонсора -->
<div class="reveal" id="callbackModalAsksSponsor" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">

    <div class="text-center"><img src="assets/img/customer-support.svg"></div>
    <h3>Обратный звонок</h3>
    {{> callback-form }}

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <p><a data-close><u>Закрыть</u></a></p>
</div>

