<section id="callback-invite" class="callout secondary fanless">
  <p>Закажите {{> callback-link}} - расскажем как купить на максимально выгодных условиях, или почитайте <a href="how-to-buy.html">здесь</a>, или простой перейдите в интернет-магазин для покупок :</p>
  <p class="text-center">{{> to-shop}}</p>
</section>

{{!-- склонение к регистрации
<section id="callback-invite" class="callout secondary fanless">
  <p>Вы можете покупать продукцию Гербалайф напрямую у компании, без посредников и с хорошей скидкой.</p>
  <p style="margin-bottom:0px;">Узнайте больше <a href="main.html#anchor-ask">здесь</a> или просто закажите {{> callback-link}} - перезвоним Вам и всё расскажем. Звонок бесплатный.</p>
</section>
--}}

