<div class="reveal" id="clientVsPartnerModal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <br/>
  <h4 class="text-center">Клиент или Партнёр : что выбрать</h4>
  <p>&nbsp;&nbsp;&nbsp;Если хотите покупать продукцию в небольших количествах (не более 15 тыс. руб. в месяц), только для личного потребления - регистрируйтесь как <b>Клиент.</b> Вам проще будет выйти на скидку 35%.</p>
  <p>&nbsp;&nbsp;&nbsp;Если хотите покупать продукцию в существенных количествах (от 15 тыс. руб. в месяц), или заниматься сетевым маркетингом в Гербалайф : приглашать людей, продавать продукцию другим - регистрируйтесь как <b>Партнёр.</b></p>
  <br/>
  <button class="close-button close-tip-modal" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="text-center"><a data-close>Закрыть</a></p>
</div>