<!--модал Список городов-->
<div class="reveal" id="getCardFreeModal" data-reveal>
  <p class="text-center"><b>Как получить карту Клиента бесплатно ?</b></p>
  <p>&nbsp;&nbsp;&nbsp;Карта Клиента даёт повышенную накопительную скидку. Чтобы получить карту бесплатно, просто пройдите в интернет-магазин и наберите за свои покупки 100 очков. Для этого достаточно сделать 1 или 2 заказа на общую сумму 7-8 тыс. руб. После этого мы вышлем Вам карту Клиента и в следующий раз Вы сможете ею воспользоваться.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <p style="text-align:center; margin-bottom:4px;text-indent:0px;"><a data-close>Закрыть</a></p>
</div>
