<!-- модал про условия получения бонуса за комментарий -->
<!-- для comments.html -->
<div class="reveal" id="giftForCommentModal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <h5 style="text-align:center;">Бонус за комментарий</h5>    
    <p style="text-indent:15px;">Вы можете оставить свой комментарий на этой странице и получить в подарок 100 руб. на баланс своего телефона.</p>
    <p style="text-indent:15px;">Условия акции :</p>
    <ol>
        <li>Вы должны воспользоваться сервисом.</li>
        <li>Опишите свои впечатления о качестве сервиса.</li>
        <li>Получить подарок за свой комментарий можно 1 раз. За последующие комментарии подарки не вручаются.</li>
    </ol>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <p style="text-align:center;"><a data-close>Закрыть</a></p>
</div>