<p style="text-indent: 0; font-weight: bold; text-align: left">Рекомендуем почитать</p>
<div class="callout" id="related-links">

  <p {{#ifpage 'Herbalife-why-register'}} class="current-page" {{/ifpage}}>
  <a href="Herbalife-why-register.html">1 Зачем регистрироваться</a><br/>Какие плюсы у регистрации в Гербалайф.
  </p>

  <p {{#ifpage 'Herbalife-how-to-buy'}} class="current-page" {{/ifpage}}>
  <a href="Herbalife-how-to-buy.html">2 Как покупать после регистрации</a><br/>Способы покупать продукцию напрямую у компании Гербалайф, если Вы зарегистрировались.
  </p>

  <p {{#ifpage 'register'}} class="current-page" {{/ifpage}}>
  <a href="register.html">3 Инструкция : как пройти регистрацию</a><br/>Видео по шагам.
  </p>

  <p {{#ifpage 'Herbalife-skidki'}} class="current-page" {{/ifpage}}>
  <a href="Herbalife-skidki.html">4 Скидки в Гербалайф</a>
  </p>

  <p {{#ifpage 'buy-options-compared'}} class="current-page" {{/ifpage}}>
  <a href="buy-options-compared.html">5 Регистрироваться или купить через нас</a><br/>Сравним оба способа и выберем самый подходящий.
  </p>

</div>