<div class="reveal" id="kitModal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <br/>
  <p class="text-center">Стартовый (или регистрационный) набор Гербалайф</p>
  <div class="text-center"><img src="assets/img/product/kit.png"></div>
  <br/>
  <div style="max-width:300px;margin:auto;">
    <p>Состав набора :</p>
    <ul>
      <li>брэндированная сумка</li>
      <li>коктейль Формула 1 шоколад</li>
      <li>супер-шейкер</li>
      <li>мерная ложка</li>
      <li>справочник по продукции</li>
    </ul>
  </div>
  <button class="close-button close-tip-modal" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="text-center"><a data-close>Закрыть</a></p>
</div>