<div class="reveal" id="politicsModal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <br/>
  <h2 class="text-center">Политика конфиденциальности</h2>
  <p>&nbsp;&nbsp;&nbsp;Ваши персональные данные могут использоваться только для того, чтобы мы могли с Вами связаться и ответить на Ваши вопросы касательно продукции Гербалайф и возможности её приобретения со скидкой.</p>
  <p>&nbsp;&nbsp;&nbsp;Сторонним лицам Ваши данные не передаются. По Вашему первому требованию, оставленные Вами личные данные будут удалены.</p>
  <br/>
  <button class="close-button close-tip-modal" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="text-center"><a data-close>Закрыть</a></p>
</div>