<div class="reveal" id="registerFreeModal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <br/>
  <h4 class="text-center">Как зарегистрироваться бесплатно</h4>
  <p>&nbsp;&nbsp;&nbsp;Обратитесь к нам. Закажите {{> callback-link}}. Мы оплатим стоимость Вашей регистрации.</p>
  <br/>
  <button class="close-button close-tip-modal" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="text-center"><a data-close>Закрыть</a></p>
</div>