<div id="shop-invite" class="callout secondary fanless">
  <!-- p id="details">Чтобы увидеть <u>все</u> цены и приобрести продукцию Гербалайф, перейдите в раздел <a href="https://shop.gerbal-lavka.ru/catalog">{{> icon-bootstrap-cart }}&nbsp;Магазин</a> или свяжитесь с оператором по <a data-open="callbackModal">телефону <i class="fas fa-phone"></i></a> или через <a class="open-Jivo">чат <i class="fas fa-comment-alt"></i></a></p -->
  <p id="details">Чтобы увидеть <u>все</u> цены и приобрести продукцию Гербалайф, перейдите в раздел <a href="https://shop.gerbal-lavka.ru/catalog">Магазин {{> icon-bootstrap-cart }}</a>. Или закажите <a data-open="callbackModal">обратный звонок <i class="fas fa-phone"></i></a> - мы Вам позвоним и примем заказ.</p>
</div>
<br/>
{{> to-shop}}