<div id="shopPromo">
  <div class="text-center"><img src="assets/img/shopping-logo.svg"></div>
  <br/>
  <p><span><i class="fas fa-tags"></i></span> Предлагаем продукцию Гербалайф со скидкой <span class="highlight">30%</span> Скидка накопительная : её можно увеличить до <span class="highlight">до 50%</span></p>
  <p><span><i class="far fa-file-alt"></i></span> Сертификаты на продукцию имеются.</p>
  <p><span><i class="fas fa-user-shield"></i></span> Гарантия качества. Защита прав покупателя.</p>
  <p><span><i class="fas fa-truck"></i></span> Доставка по всей России.<br/><span class="highlight">Бесплатная доставка</span> от 5,5 тыс. руб.</p>
  <p><span><i class="far fa-credit-card"></i></span> Скидочная карта клиента - бесплатно, в подарок.</p>
  <div id="prices">
    <p><b>Пример цен.</b> Cкидка 30%  :</p>
    <table>
      <tbody>
      <tr><td>коктейль Формула 1</td><td>1720 руб.</td></tr>
      <tr><td>вечерний коктейль</td><td>1450 руб.</td></tr>
      <tr><td>травяной напиток 50 г</td><td>1250 руб.</td></tr>
      <tr><td>напиток Гербал Алоэ</td><td>1560 руб.</td></tr>
      <tr><td>протеиновая смесь</td><td>1480 руб.</td></tr>
      </tbody>
    </table>
  </div>
  <div class="spacer-15px"></div>
  <p class="text-center" style="margin-bottom: 0px;"><button data-open="callbackModal" class="button orange">заказать обратный звонок <i class="fas fa-phone"></i></button></p>
  <p class="text-center"><a href="{{ shopUrl }}" class="button success">перейти в МАГАЗИН {{> icon-bootstrap-cart }}</a></p>
</div><!-- #shopPromo -->