<!-- Отзывы. Слайдер -->
<div class="row" id="slider-comments">
  <div class="columns">
    <div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit
         data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
      <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        {{#each comments-shoppers-landing.post}}
        <li class="orbit-slide">
          <div style="height:200px; display:flex; align-items:center;">
            <div class="post">
              <p>« {{comment}} »</p>
              <p>{{from}}</p>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>