<div class="to-shop">
  <!-- a class="link-button" href="page1-katalog.html">В магазин <i class="fas fa-shopping-cart"></i> <i class="fas fa-arrow-right"></i></a -->
  <!-- a class="button success to-shop" href="https://shop.gerbal-lavka.ru/catalog">{{> icon-bootstrap-cart }}&nbsp;&nbsp;Магазин&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a -->
  <!-- a class="button success to-shop" href="https://shop.gerbal-lavka.ru/catalog">Магазин {{> icon-bootstrap-cart }}</a -->
  <a class="button success to-shop" href="to-shop-page.html">Магазин {{> icon-bootstrap-cart }}</a>
</div>