<div class="reveal" id="whereToGetSponsorIdModal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <br/>
  <h4 class="text-center">Где взять id-спонсора</h4>
  <p>&nbsp;&nbsp;&nbsp;Обратитесь к своему спонсору. Если у Вас нет спонсора - обратитесь к нам - закажите {{> callback-link}}.  Мы дадим Вам id-спонсора и даже переведём стоимость регистрации. Таким образом Вы сможете зарегистрироваться <b>бесплатно!</b></p>
  <br/>
  <button class="close-button close-tip-modal" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="text-center"><a data-close>Закрыть</a></p>
</div>